body {
    background: grey;
}

h1 {
    color: maroon;
    font-style: bold;
    text-align: center;
}

h2 {
    color: pink;
    font-style: italic;
    text-align: center;
    font-size: 14px;
}

div {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

h3 {
    font-size: 10px;
    font-style: italic;
}